include README.md
include MANIFEST.in

# find hwtLib/ -name "*.vhd" -o -name "*.v" -o -name "*.cpp" -o -name "*.xdc" -name "*.json" -o -name "*.png" | sort | sed 's|\./|include |g'
include hwtLib/examples/arithmetic/VhdlVectorAutoCastExample.vhd
include hwtLib/examples/EmptyUnitWithSpi.vhd
include hwtLib/examples/hierarchy/GroupOfBlockrams.vhd
include hwtLib/examples/hierarchy/MultiConfigUnitWrapper_3x_same_io_type_different_int_param.vhd
include hwtLib/examples/hierarchy/MultiConfigUnitWrapper_same_io_type_different_int_param_irrelevant_param_and_second_param.vhd
include hwtLib/examples/hierarchy/MultiConfigUnitWrapper_same_io_type_different_int_param_irrelevant_param.vhd
include hwtLib/examples/hierarchy/MultiConfigUnitWrapper_same_io_type_different_int_param.v
include hwtLib/examples/hierarchy/MultiConfigUnitWrapper_same_io_type_different_int_param.vhd
include hwtLib/examples/hierarchy/netFilter.cpp
include hwtLib/examples/hierarchy/netFilter.v
include hwtLib/examples/hierarchy/netFilter.vhd
include hwtLib/examples/hierarchy/RippleAdder0.v
include hwtLib/examples/hierarchy/RippleAdder0.vhd
include hwtLib/examples/hierarchy/RippleAdder1.v
include hwtLib/examples/hierarchy/RippleAdder2.v
include hwtLib/examples/hierarchy/RippleAdder3.v
include hwtLib/examples/hierarchy/UnitWithParams_in_wrap.vhd
include hwtLib/examples/mem/AsyncResetReg.v
include hwtLib/examples/mem/AsyncResetReg.vhd
include hwtLib/examples/mem/DDR_Reg.v
include hwtLib/examples/mem/DDR_Reg.vhd
include hwtLib/examples/mem/DReg.cpp
include hwtLib/examples/mem/DReg.v
include hwtLib/examples/mem/DReg.vhd
include hwtLib/examples/ParametrizationExample.vhd
include hwtLib/examples/rtlLvl/arithmetic/Counter.vhd
include hwtLib/examples/rtlLvl/arithmetic/LeadingZero.vhd
include hwtLib/examples/rtlLvl/AxiReaderCore.vhd
include hwtLib/examples/rtlLvl/ComplexConditions.vhd
include hwtLib/examples/rtlLvl/IndexOps.vhd
include hwtLib/examples/rtlLvl/SimpleEnum.vhd
include hwtLib/examples/rtlLvl/SimpleRegister.vhd
include hwtLib/examples/rtlLvl/SimpleWhile.vhd
include hwtLib/examples/rtlLvl/SwitchStatement.vhd
include hwtLib/examples/showcase0.cpp
include hwtLib/examples/showcase0.v
include hwtLib/examples/showcase0.vhd
include hwtLib/examples/SimpleComentedUnit2.vhd
include hwtLib/examples/SimpleComentedUnit3.vhd
include hwtLib/examples/SimpleComentedUnit.vhd
include hwtLib/examples/specialIntfTypes/InterfaceWithVHDLUnconstrainedArrayImportedType2.vhd
include hwtLib/examples/specialIntfTypes/InterfaceWithVHDLUnconstrainedArrayImportedType.vhd
include hwtLib/examples/statements/BlockStm_complete_override1.vhd
include hwtLib/examples/statements/FsmExample.cpp
include hwtLib/examples/statements/FsmExample.v
include hwtLib/examples/statements/FsmExample.vhd
include hwtLib/examples/statements/IfStatementPartiallyEnclosed.vhd
include hwtLib/examples/statements/SimpleIfStatementMergable1.vhd
include hwtLib/examples/statements/SimpleIfStatementMergable2.vhd
include hwtLib/examples/statements/SimpleIfStatementMergable.vhd
include hwtLib/examples/statements/SimpleIfStatementPartialOverride.vhd
include hwtLib/examples/statements/SimpleIfStatementPartialOverrideNopVal.vhd
include hwtLib/examples/statements/SwitchStmUnit.cpp
include hwtLib/examples/statements/SwitchStmUnit.v
include hwtLib/examples/statements/SwitchStmUnit.vhd
include hwtLib/img/charToBitmap_font.png
include hwtLib/peripheral/displays/Segment7.vhd
include hwtLib/peripheral/usb/sim/usbip/UsbipTC_test_cdc_vcp.json
include hwtLib/tests/constraints/AxiStreamFullDuplexCdc.xdc
include hwtLib/tests/constraints/FifoAsync.xdc
include hwtLib/tests/serialization/AssignToASlice0.vhd
include hwtLib/tests/serialization/AssignToASlice1.vhd
include hwtLib/tests/serialization/AssignToASlice2.vhd
include hwtLib/tests/serialization/AssignToASliceOfReg0.vhd
include hwtLib/tests/serialization/AssignToASliceOfReg1a.vhd
include hwtLib/tests/serialization/AssignToASliceOfReg1b.vhd
include hwtLib/tests/serialization/AssignToASliceOfReg2a.vhd
include hwtLib/tests/serialization/AssignToASliceOfReg2b.vhd
include hwtLib/tests/serialization/AssignToASliceOfReg3a.vhd
include hwtLib/tests/serialization/AssignToASliceOfReg3b.vhd
include hwtLib/tests/serialization/AssignToASliceOfReg3c.vhd
include hwtLib/tests/serialization/AssignToASliceOfReg3d.vhd
include hwtLib/tests/serialization/ExampleA.vhd
include hwtLib/tests/serialization/SimpleUnitReanamedPort0.vhd
include hwtLib/tests/serialization/SimpleUnitReanamedPort1.vhd
include hwtLib/tests/serialization/SimpleUnitReanamedPort2.vhd
include hwtLib/tests/serialization/SimpleUnitReanamedPort3.vhd
include hwtLib/tests/serialization/SimpleUnitReanamedPort4.vhd
include hwtLib/tests/serialization/SimpleUnitReanamedPort5.vhd
include hwtLib/tests/serialization/SpiMaster.vhd
include hwtLib/tests/serialization/TernaryInConcatExample.vhd
include hwtLib/tests/serialization/TmpVarExample0.vhd
include hwtLib/tests/serialization/TmpVarExample1.v
include hwtLib/tests/serialization/TmpVarExample1.vhd
include hwtLib/tests/serialization/TmpVarExample2.v
include hwtLib/tests/serialization/TmpVarExample2.vhd
include hwtLib/tests/serialization/TmpVarExampleTernary.vhd
include hwtLib/tests/serialization/TmpVarSignCast.vhd
include hwtLib/tests/synthesizer/interfaceLevel/UnitWithGenericOfChild.vhd
