recursive-include hwtLib *.png
include README.md
include MANIFEST.in

include hwtLib/samples/hierarchy/netFilter.vhd
include hwtLib/samples/hierarchy/netFilter.v
include hwtLib/samples/hierarchy/netFilter.cpp
include hwtLib/samples/hierarchy/UnitWithParams_in_wrap.vhd

include hwtLib/samples/showcase0.vhd
include hwtLib/samples/showcase0.v
include hwtLib/samples/showcase0.cpp
include hwtLib/samples/showcase0.hwt.py

