sphinx>=2.2.1
sphinx_bootstrap_theme
aafigure
git+git://github.com/Nic30/hwt@master#egg=hwt
git+git://github.com/Nic30/hwtGraph@master#egg=hwtGraph
git+git://github.com/Nic30/sphinx-hwt@master#egg=sphinx-hwt
