sphinx_bootstrap_theme
aafigure

# all hwt deps from repositories, equivalent to just sphinx-hwt
-r requirements.hwt.txt
git+git://github.com/Nic30/hwtGraph#egg=hwt
git+git://github.com/Nic30/sphinx-hwt#egg=hwtLib